<template>
  <div v-if="selectorSelection || selectors">
    <b-form-input
      v-model="filter"
      type="search"
      id="filterInput"
      placeholder="Type to Filter"
    ></b-form-input>
    <gl-table
      :items="selectors"
      :fields="$options.fields"
      :filter="filter"
      :filterIncludedFields="filterOn"
    >
      <template #cell(selector)="row">
        <gl-link type="link" @click="row.toggleDetails">
          <strong>{{ row.item.selector }}</strong>
        </gl-link>
      </template>
      <template #cell(baseSelector)="{ item }">
        <span v-if="item.selector !== item.baseSelector">{{
          item.baseSelector
        }}</span>
      </template>
      <template #cell(file)="{ item }">
        <a
          :href="`https://gitlab.com/gitlab-org/gitlab/-/blob/master/${item.file}#L${item.filePosition}`"
          target="_blank"
          v-if="item.internalFile && item.file.indexOf('node_modules') === -1"
        >
          {{ item.file }}:{{ item.filePosition }}
        </a>
        <a
          :href="`https://gitlab.com/gitlab-org/gitlab-ui/-/tree/master/${item.file.replace(
            'node_modules/@gitlab/ui/',
            ''
          )}#L${item.filePosition}`"
          target="_blank"
          v-else-if="
            item.internalFile &&
            item.file.indexOf('node_modules/@gitlab/ui/') === 0
          "
        >
          {{ item.file }}:{{ item.filePosition }}
        </a>
        <span v-else>{{ item.file }}:{{ item.filePosition }}</span>
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <div><code v-html="convertRuleString(row.item.rule)"></code></div>
        </b-card>
      </template>
    </gl-table>
  </div>
</template>

<script>
import axios from 'axios';
import { GlCard, GlTable, GlLink } from '@gitlab/ui';

export default {
  props: ['selectorSelection', 'selectedSelectors'],
  fields: [
    {
      key: 'selector',
      label: 'Selector',
      sortable: true,
    },
    {
      key: 'baseSelector',
      label: 'Base',
      sortable: true,
    },
    {
      key: 'selectorLength',
      label: 'Selector Length',
      sortable: true,
    },
    {
      key: 'rulesLength',
      label: 'Rules Length',
      sortable: true,
    },
    {
      key: 'file',
      label: 'File',
      sortable: true,
    },
  ],
  components: {
    GlTable,
    GlLink,
  },
  data() {
    return {
      selectors: this.selectedSelectors || null,
      filter: this.queryFilter || null,
      filterOn: [],
    };
  },
  methods: {
    convertRuleString: function (val) {
      return val.replace(/,/gi, ';<br/>');
    },
  },
  mounted() {
    if (this.selectorSelection) {
      axios
        .get(`css-map-${this.selectorSelection}.json`)
        .then((res) => (this.selectors = res.data));
    }
  },
};
</script>
