<template>
  <div>
    <gl-table
      :items="colors"
      :fields="$options.fields"
      :filter="filter"
      :filterIncludedFields="filterOn"
    >
      <template #cell(color)="{ item }">
        <div
          class="mr-3"
          style="
            width: 60px;
            height: 30px;
            border: solid 1px #cccccc;
            display: inline-block;
            vertical-align: middle;
          "
          :style="{ backgroundColor: item.color }"
        ></div>
        <nuxt-link :to="{ path: 'search', query: { q: item.color } }">{{
          item.color
        }}</nuxt-link>
      </template>
    </gl-table>
  </div>
</template>

<script>
import axios from 'axios';
import { GlTable } from '@gitlab/ui';

export default {
  props: ['colors'],
  fields: [
    {
      key: 'color',
      label: 'Color',
      sortable: true,
    },
    {
      key: 'count',
      label: 'Count',
      sortable: true,
    },
  ],
  components: {
    GlTable,
  },
  data() {
    return {
      filter: null,
      filterOn: [],
    };
  },
};
</script>
