<template>
  <div>
    <b-form-input
      v-model="filter"
      type="search"
      id="filterInput"
      placeholder="Type to Filter"
    ></b-form-input>
    <gl-table
      :items="files"
      :fields="$options.fields"
      sort-by="size"
      :sort-desc="true"
      :filter="filter"
      :filterIncludedFields="filterOn"
    >
      <template #cell(file)="{ item }">
        <nuxt-link :to="{ path: 'search', query: { q: item.file } }">
          {{ item.file }}
        </nuxt-link>
        <a
          :href="`https://gitlab.com/gitlab-org/gitlab/-/blob/master/${item.file}`"
          target="_blank"
          v-if="item.file.indexOf('node_modules') === -1"
        >
          <gl-icon name="tanuki" />
        </a>
        <a
          :href="`https://gitlab.com/gitlab-org/gitlab-ui/-/tree/master/${item.file.replace(
            'node_modules/@gitlab/ui/',
            ''
          )}`"
          target="_blank"
          v-else-if="item.file.indexOf('node_modules/@gitlab/ui/') === 0"
        >
          <gl-icon name="tanuki" />
        </a>
      </template>
    </gl-table>
  </div>
</template>

<script>
import axios from 'axios';
import {
  GlCard,
  GlTable,
  GlCollapse,
  GlCollapseToggleDirective,
} from '@gitlab/ui';

export default {
  props: ['files'],
  fields: [
    {
      key: 'file',
      label: 'File',
      sortable: true,
    },
    {
      key: 'size',
      label: 'Rules Length',
      sortable: true,
    },
    {
      key: 'count',
      label: 'Count',
      sortable: true,
    },
  ],
  components: {
    GlTable,
    GlCollapse,
  },
  directives: {
    collapseToggle: GlCollapseToggleDirective,
  },
  data() {
    return {
      filter: null,
      filterOn: [],
    };
  },
};
</script>
