<template>
  <div>
    <gl-table
      :items="fontSizes"
      :fields="$options.fields"
      sort-by="count"
      :sort-desc="true"
    >
      <template #cell(fontSize)="{ item }">
        <div class="mb-3" :style="{ fontSize: item.fontSize }">
          GitLab rocks
        </div>
        <nuxt-link :to="{ path: 'search', query: { q: item.fontSize } }">
          {{ item.fontSize }}
        </nuxt-link>
      </template>
    </gl-table>
  </div>
</template>

<script>
import axios from 'axios';
import { GlTable } from '@gitlab/ui';

export default {
  props: ['fontSizes'],
  fields: [
    {
      key: 'fontSize',
      label: 'font',
      sortable: true,
    },
    {
      key: 'count',
      label: 'Count',
      sortable: true,
    },
  ],
  components: {
    GlTable,
  },
};
</script>
