<template>
  <div>
    <gl-table
      :items="prefixes"
      :fields="$options.fields"
      sort-by="count"
      :sort-desc="true"
    >
      <template #cell(prop)="{ item }">
        <nuxt-link :to="{ path: 'search', query: { q: item.prop } }">
          {{ item.prop }}
        </nuxt-link>
      </template>
    </gl-table>
  </div>
</template>

<script>
import axios from 'axios';
import { GlTable } from '@gitlab/ui';

export default {
  props: ['prefixes'],
  fields: [
    {
      key: 'prop',
      label: 'Prefix Property',
      sortable: true,
    },
    {
      key: 'count',
      label: 'Count',
      sortable: true,
    },
  ],
  components: {
    GlTable,
  },
};
</script>
