<template>
  <div class="container-fluid">
    <div class="mt-4">
      <h1>
        GitLab CSS Statistics for application.css
        <a
          href="https://gitlab.com/gitlab-org/frontend/gitlab-css-statistics"
          target="_blank"
        >
          <gl-icon name="tanuki" />
        </a>
      </h1>
      <div>
        <nuxt-link to="/" :active="this.$route.path === '/'"
          >Statistics</nuxt-link
        >
        -
        <nuxt-link to="/unused" :active="this.$route.path === '/unused'"
          >Unused</nuxt-link
        >
        -
        <nuxt-link
          to="/search"
          :active="this.$route.path.indexOf('search') > -1"
          >Selector Search</nuxt-link
        >
        -
        <nuxt-link to="/css" :active="this.$route.path.indexOf('css') > -1"
          >Result CSS</nuxt-link
        >
      </div>
      <hr />
      <Nuxt />
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { GlIcon, GlNav, GlNavItem } from '@gitlab/ui';

export default {
  components: {
    GlIcon,
    GlNav,
    GlNavItem,
  },
  async asyncData({ req, isServer, params, store }) {
    return await axios.get('css-stats.json').then((res) => res.data);
  },
};
</script>

<style>
@import '@gitlab/ui/dist/index.css';
@import '@gitlab/ui/dist/utility_classes.css';
</style>
