<template>
  <div class="mt-4">
    <div class="mt-5 mb-5">
      <b-card-group>
        <gl-card>
          <h4>{{ gzipSize.toLocaleString() }}</h4>
          <span>{{ size.toLocaleString() }} unzipped</span>
          <template #footer>
            <span>Size</span>
          </template>
        </gl-card>
        <gl-card>
          <h4>{{ rulesCount.toLocaleString() }}</h4>
          <template #footer>
            <span>Rules</span>
          </template> </gl-card
        ><gl-card>
          <h4>{{ selectorsCount.toLocaleString() }}</h4>
          <template #footer>
            <span>Selectors</span>
          </template> </gl-card
        ><gl-card>
          <h4>{{ declarationsCount.toLocaleString() }}</h4>
          <span>{{ declarationsUnique.toLocaleString() }} unique</span>
          <template #footer>
            <span>Declarations</span>
          </template>
        </gl-card>
        <gl-card>
          <h4>{{ mediaQueriesCount.toLocaleString() }}</h4>
          <span>{{ mediaQueriesUnique.toLocaleString() }} unique</span>
          <template #footer>
            <span>Media Queries</span>
          </template>
        </gl-card>
        <gl-card>
          <h4>{{ duplicateSelectorsCount.toLocaleString() }}</h4>
          <template #footer>
            <span
              title="Selectors that we have defined exactly the same way at multiple points and some times even overwriting same value"
              >Duplicate Selectors</span
            >
          </template>
        </gl-card>
      </b-card-group>
    </div>

    <h2 class="mt-8">Size distribution</h2>
    <h4>By directories</h4>
    <gl-bar-chart
      :data="directoriesChartData"
      :option="{}"
      y-axis-title="Directory"
      x-axis-title="Rule Length"
      x-axis-type="value"
    />
    <hr />
    <h4>Top 10 files</h4>
    <gl-bar-chart
      :data="filesChartData"
      :option="{}"
      y-axis-title="Directory"
      x-axis-title="Rule Length"
      x-axis-type="value"
    />
    <div class="mt-5">
      <div class="gl-cursor-pointer" @click="toggleFileList">
        Show all {{ files.length }} files
        <gl-icon name="chevron-lg-down" :size="24" />
      </div>
      <div v-if="showFileList">
        <FilesList :files="files" />
      </div>
    </div>
    <hr />

    <h2 class="mt-8">Declarations</h2>
    <hr />

    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleColorList">
        {{ colorsCount.toLocaleString() }} Color Declarations ({{
          colorsUnique
        }}
        unique)
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showColorList">
        <ColorList :colors="colors" />
      </div>
    </div>
    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleBGColorList">
        {{ backgroundColorsCount.toLocaleString() }} Background Color
        Declarations ({{ backgroundColorsUnique }}
        unique)
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showBGColorList">
        <ColorList :colors="backgroundColors" />
      </div>
    </div>
    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleFontFamiliesList">
        {{ fontFamiliesCount }} Font Families ({{ fontFamiliesUnique }}
        unique)
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showFontFamilyList">
        <FontFamilyList :fonts="fontFamilies" />
      </div>
    </div>
    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleFontSizesList">
        {{ fontSizes.length }} Font Sizes ({{ fontSizesUnique }}
        unique)
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showFontSizeList">
        <FontSizeList :fontSizes="fontSizes" />
      </div>
    </div>

    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleVendorPrefixesList">
        {{ vendorPrefixCount }} Vendor Prefixes ({{ vendorPrefixed.length }}
        unique)
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showVendorPrefixList">
        <VendorPrefixList :prefixes="vendorPrefixed" />
      </div>
    </div>

    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleMediaQueriesList">
        {{ mediaQueriesCount }} Media Queries ({{ mediaQueriesUnique }}
        unique)
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showMediaQueries">
        <MediaQueryList :queries="mediaQueries" />
      </div>
    </div>

    <h2 class="mt-8">Selectors</h2>
    <hr />
    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleBiggestSelectorList">
        20 biggest selectors
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showBiggestSelectors">
        <ClassesList :selectedSelectors="biggestSelectors" />
      </div>
    </div>
    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleBiggestRulesList">
        20 biggest rules
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showBiggestRules">
        <ClassesList :selectedSelectors="biggestRules" />
      </div>
    </div>
    <div class="mt-5">
      <h3 class="gl-cursor-pointer" @click="toggleDuplicateSelectors">
        {{ duplicateSelectorsCount.toLocaleString() }} Duplicate Selectors
        <gl-icon name="chevron-lg-down" :size="24" />
      </h3>
      <div v-if="showDuplicateSelectors">
        <ClassesList :selectedSelectors="duplicateSelectors" />
      </div>
    </div>

    <h2 class="mt-8">Replacable by utility classes</h2>
    <hr />
    <div class="mt-5">
      <b-card-group>
        <gl-card>
          <h4>{{ displayNoneCount }}</h4>
          <template #footer>
            <span>
              <nuxt-link
                :to="{ path: 'search', query: { q: 'display: none' } }"
              >
                display:none;
              </nuxt-link>
            </span>
          </template>
        </gl-card></b-card-group
      >
    </div>
    <div class="mt-5">
      <small
        >Generated: {{ generated }} |
        <a href="css-stats.json" target="_blank">JSON Stats</a> |
        <a href="css-map-all.json" target="_blank">JSON Map</a></small
      >
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import _ from 'lodash';
import {
  GlIcon,
  GlButton,
  GlTabs,
  GlTab,
  GlBadge,
  GlCard,
  GlAlert,
} from '@gitlab/ui';
import { GlBarChart } from '@gitlab/ui/dist/charts';

export default {
  components: {
    GlIcon,
    GlButton,
    GlTabs,
    GlTab,
    GlBadge,
    GlCard,
    GlAlert,
    GlBarChart,
  },
  data() {
    return {
      showFileList: false,
      showColorList: false,
      showBGColorList: false,
      showFontFamilyList: false,
      showFontSizeList: false,
      showVendorPrefixList: false,
      showMediaQueries: false,
      showBiggestSelectors: false,
      showBiggestRules: false,
      showDuplicateSelectors: false,
    };
  },
  methods: {
    toggleFileList() {
      this.showFileList = !this.showFileList;
    },
    toggleColorList() {
      this.showColorList = !this.showColorList;
    },
    toggleBGColorList() {
      this.showBGColorList = !this.showBGColorList;
    },
    toggleFontFamiliesList() {
      this.showFontFamilyList = !this.showFontFamilyList;
    },
    toggleFontSizesList() {
      this.showFontSizeList = !this.showFontSizeList;
    },
    toggleVendorPrefixesList() {
      this.showVendorPrefixList = !this.showVendorPrefixList;
    },
    toggleMediaQueriesList() {
      this.showMediaQueries = !this.showMediaQueries;
    },
    toggleBiggestSelectorList() {
      this.showBiggestSelectors = !this.showBiggestSelectors;
    },
    toggleBiggestRulesList() {
      this.showBiggestRules = !this.showBiggestRules;
    },
    toggleDuplicateSelectors() {
      this.showDuplicateSelectors = !this.showDuplicateSelectors;
    },
  },
  computed: {
    directoriesChartData() {
      return {
        Full: _.reverse(
          _.reduce(
            this.directories,
            (res, val, key) => {
              res.push([val.rulesLength, val.directory]);
              return res;
            },
            []
          )
        ),
      };
    },
    filesChartData() {
      return {
        Full: _.reverse(
          _.slice(
            _.reduce(
              this.files,
              (res, val, key) => {
                res.push([val.size, val.file]);
                return res;
              },
              []
            ),
            0,
            10
          )
        ),
      };
    },
  },
  async asyncData({ req, isServer, params, store }) {
    return await axios.get('css-stats.json').then((res) => res.data);
  },
};
</script>
