<template>
  <div class="container-fluid">
    <div class="mt-4">
      <div class="mt-5">
        <b-card-group>
          <gl-card>
            <h4>{{ selectorTotal }}</h4>
            <span>{{ totalLines }} Characters</span>
            <template #footer>
              <span>CSS Selectors</span>
            </template>
          </gl-card>
          <gl-card>
            <h4>
              {{ unusedPurgeCssTotal }} ({{ unusedPurgeCssTotalPercent }}%)
            </h4>
            <template #footer>
              <span>Unused Selectors</span>
            </template> </gl-card
          ><gl-card>
            <h4>{{ internalCount }} ({{ internalPercent }}%)</h4>
            <span>{{ internalLines }} Characters</span>
            <template #footer>
              <span>GitLab specific Selectors</span>
            </template> </gl-card
          ><gl-card>
            <h4>{{ pageSpecificCount }} ({{ pageSpecificPercent }}%)</h4>
            <span>{{ pageSpecificLines }} Characters</span>
            <template #footer>
              <span>Page specific Selectors</span>
            </template> </gl-card
          ><gl-card>
            <h4>
              {{ (selectorTotal - internalCount) }} ({{
                100 - internalPercent
              }}%)
            </h4>
            <template #footer>
              <span>Selectors from Libraries</span>
            </template>
          </gl-card></b-card-group
        >
      </div>
      <div class="mt-5">
        <gl-tabs lazy>
          <gl-tab>
            <template slot="title">
              <span>Unused (purgeCSS + UnCSS)</span>
              <gl-badge size="sm" class="gl-tab-counter-badge">{{
                unusedCountTotal
              }}</gl-badge>
            </template>

            <gl-alert :dismissible="false" class="mb-3">
              CSS selectors that were flagged both by purgeCSS + UnCSS as not
              used.
            </gl-alert>

            <ClassesList selectorSelection="unused" />
          </gl-tab>
          <gl-tab>
            <template slot="title">
              <span>purgeCSS</span>
              <gl-badge size="sm" class="gl-tab-counter-badge">{{
                unusedPurgeCssTotal
              }}</gl-badge>
            </template>

            <gl-alert :dismissible="false" class="mb-3">
              CSS selectors that were flagged by
              <a href="https://purgecss.com/" target="_blank">purgeCSS</a> based
              on Crawled output from .com, HAML, Vue and RB Files.
            </gl-alert>

            <ClassesList selectorSelection="purge" />
          </gl-tab>
          <gl-tab>
            <template slot="title">
              <span>UnCSS</span>
              <gl-badge size="sm" class="gl-tab-counter-badge">{{
                unusedUnCssTotal
              }}</gl-badge>
            </template>

            <gl-alert :dismissible="false" class="mb-3">
              CSS selectors that were flagged by
              <a href="https://github.com/uncss/uncss" target="_blank">unCSS</a>
              based on Crawled output from .com.
            </gl-alert>

            <ClassesList selectorSelection="uncss" />
          </gl-tab>
          <gl-tab>
            <template slot="title">
              <span>Files</span>
              <gl-badge size="sm" class="gl-tab-counter-badge">{{
                Object.keys(filesInfo).length
              }}</gl-badge>
            </template>

            <gl-alert :dismissible="false" class="mb-3">
              File statistics for unused CSS selectors (purgeCSS).
            </gl-alert>

            <FilesList :files="filesArray" />
          </gl-tab>
          <gl-tab>
            <template slot="title">
              <span>Base Selectors</span>
              <gl-badge size="sm" class="gl-tab-counter-badge">{{
                Object.keys(baseSelectorInfo).length
              }}</gl-badge>
            </template>

            <gl-alert :dismissible="false" class="mb-3">
              Statistics for unused CSS selectors (purgeCSS) on their base
              Selector (first in the overall selector).
            </gl-alert>

            <BaseSelectorList :baseSelectors="baseSelectorArray" />
          </gl-tab>
        </gl-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {
  GlIcon,
  GlButton,
  GlTabs,
  GlTab,
  GlBadge,
  GlCard,
  GlAlert,
  GlNav,
  GlNavItem,
} from '@gitlab/ui';

export default {
  components: {
    GlIcon,
    GlButton,
    GlTabs,
    GlTab,
    GlBadge,
    GlCard,
    GlAlert,
    GlNav,
    GlNavItem,
  },
  computed: {
    unusedPurgeCssTotalPercent() {
      return Math.round(this.unusedPurgeCssTotal / (this.selectorTotal / 100));
    },
    internalPercent() {
      return Math.round(this.internalCount / (this.selectorTotal / 100));
    },
    pageSpecificPercent() {
      return Math.round(this.pageSpecificCount / (this.selectorTotal / 100));
    },
    filesArray() {
      return Object.keys(this.filesInfo).map((key) => {
        return { file: key, ...this.filesInfo[key] };
      });
    },
    baseSelectorArray() {
      return Object.keys(this.baseSelectorInfo).map((key) => {
        return { baseSelector: key, ...this.baseSelectorInfo[key] };
      });
    },
  },
  async asyncData({ req, isServer, params, store }) {
    return await axios.get('unused-stats.json').then((res) => res.data);
  },
};
</script>
